
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Open Sans', sans-serif; 
    background: linear-gradient(135deg, #6e7bff, #d79cfc); 
    color: #fff;
    line-height: 1.6;
    padding: 20px;
    text-align: center;
}


.navbar {
    display: flex;
    padding: 25px;
    margin: 15px auto; 
    width: 80%;  
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    font-family: 'Lora', serif; 
    font-size: 18px;


}

#navbarNav {
   display: flex;
   justify-content: center; 
    align-items: center; 
    width: 100%; 
}

.navbar-nav {
    display: flex;
}

.nav-link:hover {
    color: #d79cfc !important;
}

header {
    margin-bottom: 40px;
    background: rgba(0, 0, 0, 0.6);
    padding: 25px;
    margin: 15px auto; 
    width: 80%;  
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
}

header h1 {
    font-family: 'Lora', serif; 
    font-size: 3rem;
    color: #fff;
    margin-bottom: 10px;
}

header h2 {
    font-family: 'Merriweather', serif; 
    font-size: 1.8rem;
    color: #d79cfc; 
}


h1, h2, h3 {
    text-align: center;
}

.personal-info, .education, .projects, .skills, .experience, .contact {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 25px;
    margin: 15px auto; 
    width: 80%; 
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    text-align: center;
}

.personal-info:hover, .education:hover, .projects:hover,.skills:hover, .experience:hover,.contact:hover {
    transform: scale(1.03); 
}

.personal-info h2, .education h2, .projects h2,.skills h2, .experience h2, .contact h2 {
    font-family: 'Merriweather', serif; 
    font-size: 1.7rem;
    color: #2C3E50;
    margin-bottom: 10px;
    font-weight: bold;
}

.personal-info p, .education p, .projects p, .skills p, .contact p {
    font-family: 'Open Sans', sans-serif; 
    font-size: 1.2rem;
    color: #34495E;
    margin-bottom: 10px;
}

#experience {
    text-align: left; 
        margin-left: auto;
    margin-right: auto;
    width: 80%; 
}


#experience p {
    text-align: center;
      font-family: 'Open Sans', sans-serif; 
    font-size: 1.2rem;
    color: #34495E;
    margin-bottom: 10px; 
}

.project {
    margin-bottom: 20px;
    background: rgba(0, 0, 0, 0.05);
    padding: 10px;
    border-radius: 8px;
}



.project h3 {
    font-family: 'Merriweather', serif; 
    font-size: 1.5rem;
    color: #3498db;
    margin-bottom: 10px;
}


.contact a {
    font-family: 'Open Sans', sans-serif;
    color: #3498DB; 
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.contact a:hover {
    color: #1abc9c;
    text-decoration: underline;
}

footer {
    text-align: center;
    margin-top: 40px;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    color: #34495E;
}

.project img {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    margin: 15px 0;
    transition: transform 0.3s ease;
}

.project img:hover {
    transform: scale(1.05); 
}



@media screen and (max-width: 992px) {

    header h1 {
        font-size: 2.8rem;
    }

    .personal-info, .education, .projects, .contact {
        padding: 20px;
    }

    .project {
        padding: 15px;
    }

    .project h4 {
        font-size: 1.4rem;
    }

    .personal-info p, .education p, .projects p {
        font-size: 1.2rem;
    }

}



@media screen and (max-width: 768px) {

    header h1 {
        font-size: 2.5rem;
    }

    .personal-info, .education, .projects, .contact {
        padding: 15px;
    }

    .project {
        padding: 10px;
    }

    .project h4 {
        font-size: 1.3rem;
    }

    .personal-info p, .education p, .projects p {
        font-size: 1.1rem;
    }

}


@media screen and (max-width: 576px) {

    header h1 {
        font-size: 2.2rem;
    }

    .personal-info, .education, .projects, .contact {
        padding: 10px;
    }

    .project {
        padding: 8px;
    }

    .project h4 {
        font-size: 1.2rem;
    }

    .personal-info p, .education p, .projects p {
        font-size: 1rem;
    }

}








